@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css?family=Arvo');

.navbar {
  background-color: #34495e;
  color: white;
  font-family: 'Arvo', serif;
}

body {
  font-family: 'Arvo', serif;
}

#inventoryView {
  margin-top: 50px;
}

#footer {
  text-align: center;
}

#runSimBtn {
  padding-top: 30px;
}

#loginMsg {
  color: red;
}

#simMsg {
  color: grey;
}

.rxAlert {
  color: gray;
}
